@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../assets/fonts/Woff2/Gilroy-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../assets/fonts/Woff2/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../assets/fonts/Woff2/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../assets/fonts/Woff2/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
 
 